{
    "vertexShader": {
        "file": "fancy.vert"
    },

    "fragmentShader": {
        "file": "fancy.frag",
    },

    "bindables": {
        "vertexPosition": "aVertexPosition",
        "vertexNormal": "aVertexNormal",
        "vertexTexCoords": "aVertexTexCoord",

        "vertexColor": "aVertexColor",
        "modelViewMatrix": "uModelViewMatrix",
        "projectionMatrix": "uProjectionMatrix",

        "ambientLightColor": "uAmbientLightColor",

        "pointLightPosition": "uPointLightPosition",
        "pointLightColor": "uPointLightColor",
        "pointLightSpecularColor": "uPointLightSpecularColor",

        "colorMap": "uColorMap",
        "normalMap": "uNormalMap",
        "specularMap": "uSpecularMap"
    }
}