{
    "vertexShader": {
        "file": "fancy.vert"
    },

    "fragmentShader": {
        "file": "fancy.frag"
    },

    "bindables": {
        "attributes": {
            "vertexPosition": "aVertexPosition",
            "vertexNormal": "aVertexNormal",
            "vertexTexCoords": "aVertexTexCoord"
        },
        "uniforms": {
            "modelViewMatrix": "uMVMatrix",
            "projectionMatrix": "uPMatrix",

            "ambientLightColor": "uAmbientLightColor",

            "pointLightPosition": "uPointLightPosition",
            "pointLightColor": "uPointLightColor",
            "pointLightSpecularColor": "uPointLightSpecularColor",

            "colorMap": "uColorMap",
            "normalMap": "uNormalMap",
            "specularMap": "uSpecularMap"
        }
    }
}