{
    "vertexShader": {
        "file": "flat.vert"
    },

    "fragmentShader": {
        "file": "flat.frag"
    },

    "bindables": {
        "attributes": {
            "vertexPosition": "aVertexPosition",
            "vertexNormal": "aVertexNormal"
        },
        "uniforms": {
            "modelViewMatrix": "uModelViewMatrix",
            "projectionMatrix": "uProjectionMatrix",
            "normalMatrix": "uNormalMatrix"
        }
    }
}