{
    "vertexShader": {
        "file": "flat.vert"
    },

    "fragmentShader": {
        "file": "flat.frag"
    },

    "bindables": {
        "attributes": {
            "vertexPosition": "aVertexPosition",
            "vertexTexCoords": "aVertexTexCoords"
        },
        "uniforms": {
            "modelViewMatrix": "uModelViewMatrix",
            "projectionMatrix": "uProjectionMatrix",

            "colorMap": "uColorMap"
        }
    }
}