body {
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
}

fieldset {
    margin: 0.3em;
    padding: 0.5em;
    border: 1px solid #888;
}

#statusOutput {
    padding-left: 0.5em;
    border: 1px dashed #CCCCCC;
    background-color: #D2E0E6;
    color: #568CE0;
}

#settings {
    float: left;
}

.columnleft {
    float: left;
}