{
    "vertexShader": {
        "file": "phong.vert"
    },

    "fragmentShader": {
        "file": "phong.frag"
    },

    "bindables": {
        "attributes": {
            "vertexPosition": "aVertexPosition",
            "vertexNormal": "aVertexNormal",
            "vertexTexCoords": "aVertexTexCoord"
        },
        "uniforms": {
            "modelViewMatrix": "uMVMatrix",
            "projectionMatrix": "uPMatrix",

            "ambientLightColor": "uAmbientLightColor",

            "pointLightPosition": "uPointLightPosition",
            "pointLightColor": "uPointLightColor",
            "pointLightSpecularColor": "uPointLightSpecularColor",

            "colorMap": "uColorMap",
            "specularMap": "uSpecularMap"
        }
    }
}